<html>
	<head>
		<title>g o s s i p . n° <%= id %></title>
	</head>
	<body> 
		<h1>g o s s i p . n° <%= id %></h1>
		<p><%= gossip.author %></p>
		<p><%= gossip.content %></p>

		<p><a href="/gossips/<%= id %>/edit">e d i t</a> ||| <a href="/">b a c k | h o m e</a></p>
	</body>
</html>
